/* h3 {
    margin-top: 2rem;
}

 p {
     padding: 0.3rem 0;
     margin: 0;
 } */

 .ausrüstung .volk {
     margin-bottom: 2rem;
     max-width: 360px;
 }

 .h3{
    margin-top: 2rem;
 }

 .ausrüstungCard{
    position: relative;
 }