/* NOTE in zauber.module.css */
.zauber {
  background-image: url(../../assets/hd-wallpaper-1074131_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  max-width: 430px;
  box-shadow: 15px 15px 30px #d3d3d3, -15px -15px 30px #fdfdfd;
}


/* NOTE wird in zauber genutzt wird zzt nicht gebraucht */

.zauberForm {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 2rem 0;
}


.zauberForm button {
  margin-top: 1.5rem;
  padding: 5px 10px;
}


/* ANCHOR  Inhaltsverzeichniss (in zauber.module.css */
.inhaltsverzeichnis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inhaltsverzeichnis ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.inhaltsverzeichnis ul li {
  margin-bottom: 0.4rem;
}

.inhaltsverzeichnis a {
  cursor: pointer;
  color:#30475E;
  font-weight: bolder;
  
}

/* */

/* wird von zauber benutzt */
.selectKlasse {
  border-bottom: 2px solid #ffffff;
}

/* wird von zauber benutzt */
.selectKlasse,
.selectGrad {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 3px;
}

.select select {
  margin: 1rem;
  width: 130px;
}

.alleZauber {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}