
/* ANCHOR Scrollbalken */

::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 38, 0, 0.358);
  box-shadow: 0.1em 0em 10px #000000, 0em 0em 0em #000000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.559);
}

span {
  font-size: 1.1rem;
  text-decoration: underline;
  font-weight: 600;
}



/* ------------------------------------------------------------------------------------- */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  padding: 2.5rem;
}

.home p {
  font-size: 1.3rem;
}

.register,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register form,
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register form input,
.login form input {
  margin-bottom: 1rem;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0;
}

.home-form button {
  margin-top: 1.5rem;
  padding: 5px 10px;
}

.select {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.select select {
  margin: 1rem;
  width: 130px;
}
label {
  width: 150px;
  padding-left: 1rem;
}

.select-klasse {
  border-bottom: 2px solid #ffffff;
}

.select-klasse,
.select-grad {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 3px;
}

.zauber {
  background-image: url(./hd-wallpaper-1074131_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  max-width: 430px;
  box-shadow: 15px 15px 30px #d3d3d3, -15px -15px 30px #fdfdfd;
}

.zauber p {
  font-size: 0.8rem;
}

.alle-zauber {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.meine-zauber-header,
.anzahl-zauber {
  text-align: center;
}

h3 {
  padding: 0;
  margin: 0;
}

.zauber p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  line-height: 1rem;
}


.inhaltsverzeichnis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inhaltsverzeichnis ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.inhaltsverzeichnis ul li {
  margin-bottom: 0.4rem;
}

.inhaltsverzeichnis a {
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.völker,
.hintergründe,
.ausrüstung, .gesinnungenSprachen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.völker select,
.hintergründe select,
.völker .ausrüstung {
  width: 150px;
  text-align: center;
}

.völker .select-volk,
.ausrüstung .select-volk,
.hintergründe .select-hintergrund {
  margin-top: 3rem;
  background-color: #e8e8e8;
  border-radius: 3px;
}

.ausrüstung .volk {
  margin-bottom: 2rem;
  max-width: 360px;
}

.ausrüstung h3 {
  margin-top: 2rem;
}

.ausrüstung p {
  padding: 0.3rem 0;
  margin: 0;
}

.ausrüstung {
  margin-bottom: 2rem;
}

.ausrüstung h3 {
  margin-top: 2rem;
}

.ausrüstung p {
  padding: 0.3rem 0;
  margin: 0;
}

.volk,
.hintergrund , .sprache, .gesinnung{
  max-width: 800px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.volk table, .sprache table {
  margin-top: 1rem;
  display: block;
  overflow-x: scroll;
}

.volk table th,
.volk table td, .sprache table th, .sprache table td {
  padding: 2px 8px;
}

.volk table tr:nth-child(odd), .sprache table thead tr:nth-child(odd), .sprache table tbody tr:nth-child(even) {
  background-color: rgb(172, 211, 172);
}

.waffen{
  max-width: 425px;
}

.werkzeug{
  max-width: 425px;
}

.werkzeug h3{
margin-top: 2rem;
}


