:root {
  --grau: #e8e8e8;
  --rot: #f05454;
  --blau: #30475e;
  --schwarz: #222831;
}

/* ANCHOR allgemine tags */

body {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

span {
  font-size: 1.1rem;
  text-decoration: underline;
  font-weight: 600;
}

h3 {
  padding: 0;
  margin: 0;
}

input[type="submit"],
button {
  background-color: var(--blau);

  color: white;
  border-radius: 30px;
  box-shadow: #949494 2px 2px 5px;
  padding: 5px 10px;
}

/* ANCHOR Scrollbalken */

::-webkit-scrollbar {
  width: 0.5em;
  background-color: #7c848d;
  box-shadow: 0.1em 0em 10px #000000, 0em 0em 0em #000000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--schwarz);
}

/* ------------------------------------------------------------------------------------- */

/* ANCHOR container */
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 7rem 2rem 1rem 2rem;
  background-image: url(./assets/WebseiteBackground\ 2.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

/* ANCHOR select */

.selectContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

label {
  width: 150px;
  padding-left: 1rem;
}

.cardInfo {
  position: relative;
}

.bookmark{
  position: absolute;
  top: 0;
  right: 0;
}

.bookmark i{
  font-size: 1.5rem;
  cursor: pointer;
}


/* ANCHOR zauber */
/* NOTE wird in loginRegister zauber genutzt */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ANCHOR Search */
.search {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.cards select {
  margin: 0.5rem;
  text-align: center;
  border-radius: 30px;
  padding: 2px 0px 2px 2px;
}

.cards .selectContainer {
  background-color: var(--blau);
  border-radius: 30px;
  color: #ffffff;
  width: fit-content;
  text-align: center;
}

.cardInfo,
.sprache {
  max-width: 800px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* ANCHOR tables */

.cardInfo table,
.sprache table {
  margin-top: 1rem;
  display: block;
  overflow-x: auto;
}

.cardInfo table th,
.cardInfo table td,
.sprache table th,
.sprache table td {
  padding: 2px 8px;
}

.cardInfo table tr:nth-child(odd),
.sprache table thead tr:nth-child(odd),
.sprache table tbody tr:nth-child(even) {
  background-color: var(--grau);
}


.werkzeug h3 {
  margin-top: 2rem;
}

.navbarDesktop a:hover,
.navbarDesktop a.active {
  border-bottom: 3px solid #ffffff;
}



.favoriteItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

}

@media screen and (min-width: 800px) {
  .container {
    align-items: center;
  }

  .selectContainer {
    width: 800px;
  }
}
