/* ANCHOR allgemeiner style */

:root {
  --size: 7vw;
  --size-negative: calc(-1 * var(--size));
  --distance: 7vh;
  --size-half: calc(0.5 * var(--size));
  --size-half-negative: calc(-0.5 * var(--size));
  --font-size: calc(0.7 * var(--size));
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(174, 64, 44, 0.213);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(174, 63, 44, 0.396);
}


/* ANCHOR Logo */

.dicerPool {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

.logo {
  flex-direction: column;
  cursor: pointer;
  height: 100px;
}


/* ANCHOR Dicer PoolContainer (dicerPool.js) */

.poolCardVisible{
  display: flex;
  position: fixed;
  width:fit-content; 
}


/* ANCHOR add- & remove Button */

.dicer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw/7);
  max-height: 85vh;
  height: fit-content;
  background-color: #30475e54;
}

.removeButton {
  width: calc(100vw/7);
  border:1px black solid;
  background-color: rgba(184, 40, 0, 0.33);
  font-size: 1vw;
  color: rgba(167, 0, 0, 0.848);
  -webkit-text-stroke: 0.3px #000;
}

.addButton {
  width: calc(100vw/7);
  border: 1px solid black;
  background-color: #30475e54;
  font-size: 1.2vw;
  color: #ff0000;
  -webkit-text-stroke: 1.2px #000;
  font-weight: 900;
}


/* ANCHOR würfel aussehen */

.wuerfelBackground{
  overflow:auto;
  max-height:80vh;
  width:100%;
}

.cube {
  justify-content: center;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  transform: rotateX(240deg) rotateY(-5deg) rotateZ(-155deg);
  margin: 5vw auto 0%  auto;
}

.top,
.front,
.left {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/dicerPattern.png);
  background-size: cover;
  position: absolute;
  justify-content: center;
}

.front {
  transform: rotateX(90deg) rotateY(180deg);
  transform-origin: bottom;
}

.top {
  transform: translateZ(var(--size-negative)) rotateX(180deg) rotateZ(180deg);
}

.left {
  width: var(--size);
  transform: translateZ(var(--size-negative)) rotateY(90deg);
  transform-origin: right;
}

/* Random Nummer */
.a {
  font-size: var(--font-size);
  color: rgb(227, 17, 17);
}

/* Logo für würfelseite(n) */
/* .image {
  background-image: url(../../assets/logo.png);
  background-size: cover;
  width: var(--size);
  height: var(--size);
} */


/* ANCHOR  Hover add- & remove Button*/

.removeButton:hover {
  width: calc(100vw/7);
  background-color: rgb(97, 29, 0);
  font-size: 1vw;
  color: white;
}

.addButton:hover {
   background-color: #22283193;
   box-shadow: 1px 1px 5px #d6c10682, -1px -1px 5px #d6c1067e;
   border-color: blue;
}

.addButton:hover>.buttonTxt {
  color:#d6c106;
}

.addButton:focus {
  color: #d6c106;
  box-shadow: 1px 1px 10px #029009, -1px -1px 10px #d6c1068d; 
  border-color: rgb(213, 255, 3);
  background-color: rgba(7, 105, 17, 0.47);
}


/* ANCHOR Hover Würfel */

.cube:hover>.top,
.cube:hover>.front,
.cube:hover>.left{
  background-image: none;
  background-color: rgba(0, 0, 0, 0.133);
  -webkit-text-stroke: 2px #000;
  color:rgba(227, 17, 17, 0.063);
}

.cube:hover>.left>.a,
.cube:hover>.front>.a,
.cube:hover>.top>.a{
color: rgba(227, 17, 17, 0.063);
}