:root {
  --grau: #E8E8E8;
  --rot: #F05454;
  --blau: #30475E;
  --schwarz: #222831;

}


/* NOTE  NOTE Übergeordneter Style-Container befindet sich in header.module.css (.dicerPool)*/
 /* ANCHOR  style  variablen*/

:root {
  --size: 7vw;
  --size-negative: calc(-1 * var(--size));
  --distance: 7vh;
  --size-half: calc(0.5 * var(--size));
  --size-half-negative: calc(-0.5 * var(--size));
  --font-size: calc(0.7 * var(--size));
}

/* dicerPool.js */
.poolCardVisible {
  display: flex;
  position: fixed;
  width: fit-content;
  top:75px;
  z-index: 1;
}


/* ANCHOR Dicer "Card" */

.dicer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw/7);
  max-height: 85vh;
  height: fit-content;
}

.wuerfelBackground {
  overflow: auto;
  max-height: 80vh;
  width: 100%;
  /* background-color: #222831bb; */
  background-color: #30475ece;
  border-radius: 0vw 0vw 0vw 1vw;
  /* background-image: url(../../assets/dicerPattern.png); */
  background-size: cover;
 /* filter: invert(100%); */
}

/* ANCHOR add- & remove Button */

.removeButton {
  width: calc(100vw/7);
  /* border: 1px 1px black solid; */
  background-color: var(--blau);
  font-size: 1vw;
  font-weight: 700;
  color: var(--grau);
  border-radius: 0px;;
  /* -webkit-text-stroke: 0.8px #000; */
}

.addButton {
  width: calc(100vw/7);
  /* border: 0px black solid; */
  border: 1px 1px black solid;
  /* background-color: var(--blau); */
  font-size: 1.2vw;
  color: white;
  -webkit-text-stroke: 1.2px #000;
  font-weight: 900;
  border-radius: 0px;
  height: 58px;
   background-image: url(../../assets/_69eec251-4794-4560-b8b4-f12f9b471e34.jpg);
  background-size: cover; 
} 


/* ANCHOR würfel aussehen */

.cube {
  justify-content: center;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  transform: rotateX(240deg) rotateY(-5deg) rotateZ(-155deg);
  margin: 5vw auto 0% auto;
  box-shadow: -2px 10px 30px #000000, -2px 2px 15px #000000;
/* filter: invert(100%); */
}

.top,
.front,
.left {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/dicerPattern.png);
  background-size: cover;
  position: absolute;
  justify-content: center;
  /* filter: invert(100%); */
}

.front {
  transform: rotateX(90deg) rotateY(180deg);
  transform-origin: bottom;
}

.top {
  transform: translateZ(var(--size-negative)) rotateX(180deg) rotateZ(180deg);
}

.left {
  width: var(--size);
  transform: translateZ(var(--size-negative)) rotateY(90deg);
  transform-origin: right;
}

/* Random Nummer */
.a {
  font-size: var(--font-size);
  color: rgb(227, 17, 17);
}

/* Logo für würfelseite(n) */
/* .image {
  background-image: url(../../assets/logo.png);
  background-size: cover;
  width: var(--size);
  height: var(--size);
} */


/* ANCHOR  Hover add- & remove Button*/

.removeButton:hover {
  width: calc(100vw/7);
  /* background-color: var(); */
  /* font-size: 1.vw; */
  color: var(--rot);
}

.addButton:hover {
  background-color: #22283193;
  box-shadow: 1px 1px 5px #d6c10682, -1px -1px 5px #d6c1067e;
  border-color: blue;
}

.addButton:hover>.buttonTxt {
  color: #d6c106;
}

.addButton:focus {
  color: #d6c106;
  box-shadow: 1px 1px 10px #029009, -1px -1px 10px #d6c1068d;
  border-color: rgb(213, 255, 3);
  background-color: rgba(7, 105, 17, 0.47);
}


/* ANCHOR Hover Würfel */

.cube:hover>.top,
.cube:hover>.front,
.cube:hover>.left {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.133);
  -webkit-text-stroke: 2px #000;
  color: rgba(227, 17, 17, 0.063);
}

.cube:hover>.left>.a,
.cube:hover>.front>.a,
.cube:hover>.top>.a {
  color: rgba(227, 17, 17, 0.063);
}

/* ANCHOR Hover Würfel background */
.wuerfelBackground:hover {
  background-color:#30475ece; ;
  border-radius: 0vw 0vw 0vw 1vw;
  background-image: none;
  /* filter: invert(100%); */
}