:root {
  --size: 5vw;
  --size-negative: calc(-1 * var(--size));
  --distance: 7vh;
  --size-half: calc(0.5 * var(--size));
  --size-half-negative: calc(-0.5 * var(--size));
  --font-size: calc(0.7 * var(--size));
}

.addButton {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: calc(100vw/7);
  min-height: 4vh;
  background-color: #30475e54;
  margin: 5.1vw 0rem 0rem 0rem;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.buttonTxt{
  font-size: 1.2rem;
   color:#ff0000;
-webkit-text-stroke: 1.2px #000;
  font-weight:900;
}

.addButton:hover>.buttonTxt{
  color:#d6c106;
}

.addButton:hover{
    background-color: #22283193;
    box-shadow: 1px 1px 5px #d6c10682, -1px -1px 5px #d6c1067e;
    border-color: blue;
}



/* .addButton:hover>.cube{
  background-image: none;
    background-color: rgba(126, 126, 126, 0.488);
    -webkit-text-stroke: 2px #000;
    color: rgb(18, 127, 222);
} */

.removeButton {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100vw/7);
  background-color: rgba(184, 55, 0, 0.213);
  font-size: 1.7vw;
  color: rgba(6, 0, 167, 0.434);
  -webkit-text-stroke: 0.3px #000;
  /* margin: 0rem 0rem 0rem 0rem; */
  align-items: center;
  justify-content: center; 
}
.removeButton:hover {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100vw/7);
  background-color: rgb(97, 29, 0);
  font-size: 1.7vw;
  color: white;
 
  align-items: center;
  justify-content: center; 
}

.cube {
  width: var(--size);
  height: var(--size);
  position:relative;
  margin-top: 3.5vw;
  transform-style: preserve-3d;
  transform: rotateX(240deg) rotateY(-5deg) rotateZ(-155deg);
}

.cube:hover>.top,
.cube:hover>.front,
.cube:hover>.left,
.cube:hover>.a
{
background-image: none;
background-color: rgba(126, 126, 126, 0.488);
-webkit-text-stroke: 2px #000;
color:rgb(18, 127, 222);
}



.addButton:focus {
   color: #d6c106;
  box-shadow: 1px 1px 10px #029009, -1px -1px 10px #d6c1068d; 
    border-color: rgb(213, 255, 3);
    background-color: rgba(7, 105, 17, 0.47);
    
}

.image {
  background-image: url(../../assets/logo.png);
  background-size: cover;
  width: var(--size);
  height: var(--size);
}

.a {
  display: flex;
  font-size: var(--font-size);
  color: rgb(227, 17, 17);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.top,
.front,
.left {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/dicerPattern.png) ;
  background-size: cover;
  position: absolute;
  justify-content: center;
  }

.top {
  transform: translateZ(var(--size-negative)) rotateX(180deg) rotateZ(180deg);
}

.front {
  transform: rotateX(90deg) rotateY(180deg);
  transform-origin: bottom;
}

.left {
  width: var(--size);
  transform: translateZ(var(--size-negative)) rotateY(90deg)  ;
  transform-origin: right;
}

.dicerPool{
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  width:200px;
  height:88px;    
}

.logoContainer{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 120px;
  width:500px;
}

.poolCardVisible{
  display: flex;
  align-items: flex-end;
  position: absolute;
  
  width:fit-content; 
  width:100vw;
  height:1rem;
}

.logo{
  flex-direction: column;
  cursor: pointer;
  height: 100px;
}

.dicer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100vw/7);
}